<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_DetectorService" />
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint address="net.pipe://localhost/itsape/artifact-detector/v1.0/DetectorService"
          binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_DetectorService"
          contract="DetectorService" name="NetNamedPipeBinding_DetectorService">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
